@keyframes slideOutDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slideOutDown {
    animation: slideOutDown 1s ease-out ; /* remove infinite */
}
