@keyframes slideOutDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slideOutDown {
  animation: slideOutDown 1s ease-out ; /* remove infinite */
}
.curved-box {
  position: relative;
  background: #ffffff;
}

.curved-box:before, 
.curved-box:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  /* Adjust shadow spread and blur for softness */
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.4);
  transform: rotate(-3deg);
}

.curved-box:after {
  right: 10px;
  left: auto;
  transform: rotate(3deg);
}
